/* CSS RESEST  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    /* border: 1px solid grey; */
}

/* GENERAL STYLES  */

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

body {
    padding: 1% 15% 3%;
    line-height: 2;
}

* a {
    text-decoration: none;
    color: grey;
}

* a:hover {
    color: black;
}

* ul {
    list-style-type: none;
}

* section {
    margin: 1% 0;
}

/* TOP NAV STYLES  */

#top-nav header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    margin-bottom: 4%;
}

#top-nav header .menu {
    width: 75%;
}

#top-nav header div nav ul {
    display: flex;
    justify-content: space-evenly !important;
}

#top-nav header div nav ul li {
    text-align: center;
    width: 20%;
    font-weight: bold;
}

/* TOP SECTION STYLES  */

.top-sec {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    padding: 0 0 5% 10%;
    margin: 0 auto;
}

.top-sec div {
    width: 40%;
}

.top-sec .top-sec-ttl {
    width: 30%;
}

.top-sec .top-sec-ttl h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    margin-bottom: 8%;
}

.top-sec .top-sec-ttl button {
    background: white;
    font-size: 1rem;
    padding: 2% 15%;
    border: solid 1px black;
}

/* MID SECTION STYLES  */

#mid-sec {
    padding: 2.5% 6%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 2.5%;
}

.mid-sec-top {
    display: flex;
    justify-content: space-around;
    line-height: 1.7rem;
    margin-bottom: 3%;
}

.mid-sec-top div {
    width: 48%;
}

.mid-img {
    display: block;
    width: 100%;
    margin: 0 0 2%;
}

/* MID SECTION BOTTOM STYLES  */

#mid-sec .mid-sec-bttm {
    display: flex;
    justify-content: space-around;
}

#mid-sec .mid-sec-bttm div {
    width: 30%;
    line-height: 1.8rem;
}

/* FOOTER STYLES  */

footer h3 {
    margin: 0;
}

footer address {
    margin: 0 0 1%;
}

footer p {
    margin: 0;
}

footer :last-child {
    text-align: center;
}

/* MEDIA QUERIES  */

/* TABLET SIZE 800PX  */
@media (max-width:800px) {

body{
    padding: 2% 3%;
}

    /* NAV  */
    #top-nav header {
        flex-direction: column-reverse;
    }
    #top-nav header .menu {
        width: 100%;
    }
    #top-nav header .nav-img {
        margin: 2% 0;
    }
    /* TOP SECTION  */
    .top-sec {
        width: 100%;
        padding: 0;
    }

    .top-sec .top-sec-img {
        display: none;
    }

    .top-sec .top-sec-ttl {
        margin: 5% 0 7%;
        width: 40%;
        text-align: center;
    }

    .top-sec .top-sec-ttl h1 {
        width: 100%;
    }

    /* MID SECTION STYLES  */

    #mid-sec {
        padding: 3% 0;
    }
}

/* MOBILE SIZE 500PX */
@media (max-width:500px) {

    #top-nav header {
        flex-direction: column-reverse;
    }

    #top-nav header .nav-img {
        text-align: center;
        width: 100%;
        border-bottom: solid grey 1px;
        padding-bottom: 3%;
    }

    #top-nav header .menu nav ul {
        flex-direction: column;
    }

    #top-nav header .menu nav ul li {
        border-bottom: solid grey 1px;
        width: 100%;
        padding: 2% 0;
    }

    #top-nav header .menu {
        width: 100%;
    }
    #top-nav header .nav-img {
        margin: 2% 0;
    }
    /* TOP SECTION  */
    .top-sec {
        width: 100%;
        padding: 0;
    }

    .top-sec .top-sec-img {
        display: none;
    }

    .top-sec .top-sec-ttl {
        margin: 5% 0 7%;
        width: 65%;
        text-align: center;
    }

    .top-sec .top-sec-ttl h1 {
        width: 100%;
    }

    /* MID SECTION STYLES  */

    #mid-sec {
        padding: 3% 0 0;
    } 
    
    #mid-sec .mid-sec-top {
        flex-direction: column;
    }

    #mid-sec .mid-sec-top div {
        width: 100%;
        margin: 0 0 8%;
    }

    #mid-sec .mid-sec-img {
        margin: 0 0 6%;
    }

    #mid-sec .mid-sec-bttm {
        flex-direction: column;
    }

    #mid-sec .mid-sec-bttm div {
        width: 100%;
        margin: 0 0 10%;
    }
}